{%include 'base.html'%}


<section id="hero">
    <div class="hero-container">
      <h1>Mariana Ramirez Duque</h1>
      <div class="typing-container">
        <p>
          <span id="sentence" class="sentence">I am a </span><span id="sentence2" class="sentence2"></span>
          <span class="input-cursor"></span>
        </p>
      </div>
      
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->
  <script src='../static/assets/js/type.js'></script>


  {% include 'resume.html' %}
  {% include 'portfolio.html' %}



{% include 'footer.html' %}






