<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <span>My Resume</span>
        <h2>My Resume</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Mariana Ramirez</h4>
            <p><em>Developer and Data Analyst with 2+ years of experience developing high-scalable systems in both industry and academia. Fluent in English and Spanish</em></p>
            <p>
            <ul>
              <li>Medellín, Colombia</li>
              <li>mariana.ramirezd97@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor in Computer Engineering</h4>
            <h5>2015 - 2020</h5>
            <p><em>EAFIT University, Medellín, Colombia</em></p>
            <p><em>4.4/5, top 1%</em></p>
            <p>Relevant coursework
              <ul>
                <li>Deep Learning</li>
                <li>Classic Machine Learning</li>
                <li>Data Structures and Algorithms</li>
              </ul>
            </p>
            </div>
            <div class="resume-item">
              <h4><a href="https://coursera.org/share/610edb89ccfb0b63ee4ff0d6d738964e">Deep Learning Specialization</a></h4>
              <h5>2019</h5>
              <p><em><a class="coursera" href="https://coursera.org/share/610edb89ccfb0b63ee4ff0d6d738964e">DeepLearning.ai, Coursera</a></em></p>
              <p>Courses completed       
                <ul>
                  <li>Convolutional Neural Networks</li>
                  <li>Structuring Machine Learning Projects</li>
                  <li>Sequence Models</li>
                  <li>Neural Networks and Deep Learning</li>
                  <li>Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization</li>                  </li>
                </ul>
  
              </p>
              </div>


        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Member of Artificial Intelligence Team</h4>
            <h5>2020 - Present</h5>
            <p><em>Medellín, Colombia</em></p>
            <p><em>Protección (Colombia's second biggest pension fund)</em></p>
            <ul>
              <li> Developed an API, using Azure function Apps, that receives customer data and returns a URL of a video with personalized user content</li>
              <li> Developed a virtual assistant using NodeJS, Watson IBM and React to guide customers in different pension subjects</li>
              <li> Developed a BERT model using HuggingFace pretrained model and fine-tuned it using a specific dataset for Question Answering</li>
            </ul>

            </p>
          </div>
          <div class="resume-item">
            <h4>Data Analyst Intern</h4>
            <h5>2019-2020</h5>
            <p><em>Bouquet Collection, Miami, USA</em></p>
            <p>
            <ul>
              <li>
                Developed ETL using Python, SQL, C# and Azure.
              </li>
              <li>Data Modeling, visualization and analysis using Microsoft tools (Power BI, Excel)</li>
              <li>Developed a desktop app using Tkinter and Numpy to anlayze waste</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Big Data and Data Analytics Research Assistant</h4>
            <h5>2018-2019</h5>
            <p><em>Universidad EAFIT, Medellín, Colombia</em></p>
            <p>
            <ul>
              <li>  
                Researched Deep Learning and Big Data Technologies to minimize pollution in Medellín, Colombia 
              </li>
              <li>Led the team on the training and evaluation of Deep Neural Network models.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container">
    <div class="si">
      
      <h1 class="skills">skills</h1>
        <div class="skills-item">
          <h4>Programming languages</h4>  
          <p> <span>Python</span> <span>C++</span>   <span>JavaScript</span></p>
         </div>

         <div class="skills-item">
          <h4>Analytics</h4>  
          <p> <span>SQL</span> <span>Tableau</span> <span>PowerBI</span></p>
         </div>

         <div class="skills-item">
          <h4>Web</h4>  
          <p class="h"><span>Flask</span><span>Django</span> <span>HTML/CSS</span></p>
         </div>

    </div>
  </div>
    
  </section><!-- End My Resume Section -->

  
